/* UiiaCat.css */
html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.uiia-cat {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* THIS removes the white borders */
  display: block;
}
